[submodule "nvim-treesitter"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "clang_extensions.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/clang_extensions
	url = https://github.com/p00f/clangd_extensions.nvim
[submodule "lazydev.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/lazydev.nvim
	url = https://github.com/folke/lazydev.nvim
[submodule "rustaceanvim"]
	path = .local/share/nvim/site/pack/plugins/start/rustaceanvim
	url = https://github.com/mrcjkb/rustaceanvim
[submodule "conform"]
	path = .local/share/nvim/site/pack/plugins/start/conform
	url = https://github.com/stevearc/conform.nvim
[submodule "mason"]
	path = .local/share/nvim/site/pack/plugins/start/mason
	url = https://github.com/williamboman/mason.nvim
[submodule "zsh-completions"]
	path = .zfunc/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "nvim-lspconfig"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
